@model IEnumerable<MajorProject.Models.Issue>

@{
    ViewData["Title"] = "Index";
}
<div style="padding-top:6rem;padding-left:2rem;padding-right:2rem">

<h1>Index</h1>

<p>
   <a asp-area="OnWayVehicleService" asp-controller="ServiceBookings" asp-action="Create">Get Your Booking Done!(Kindly Note Your Issue Id)</a>

    @*<a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IssueId)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Cars)
            </th>
                <th>
                    Cutomer Name
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgencies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssueCategories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Services)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IssueId)
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cars.CarNumber)
            </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cars.Customers.CustomerName)
                    </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urgencies.TimeToReach)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueCategories.Issue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Services)
            </td>
            <td>@*
                <a asp-action="Edit" asp-route-id="@item.IssueId">Edit</a> |*@
                <a asp-action="Details" asp-route-id="@item.IssueId">Details</a> 
                @*<a asp-action="Delete" asp-route-id="@item.IssueId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
</div>