@model IEnumerable<MajorProject.Models.Urgency>

@{
    ViewData["Title"] = "Index";
}
<div style="padding-top:6rem;padding-left:2rem;padding-right:2rem">

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Urgencies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeToReach)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Urgencies)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeToReach)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UrgencyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UrgencyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UrgencyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>