@model MajorProject.Models.Payment

@{
    ViewData["Title"] = "Details";
}
<div style="padding-top:6rem;padding-left:2rem;padding-right:2rem">

<h1>Service Booked</h1>
<br />
<br />
<br />
<div>
    <h4>Kindly Wait For Our Mechanic To Contact You</h4>
    <hr />
    <dl class="row">
            <dt class="col-sm-2">
                Your Name
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ServiceBookings.Issues.Cars.Customers.CustomerName)
            </dd>
            <dt class="col-sm-2">
                Car
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ServiceBookings.Issues.Cars.CarModels.CarModels) , @Html.DisplayFor(model => model.ServiceBookings.Issues.Cars.CarModels.CarCompanies.CarCompanies)
            </dd>
            <dt class="col-sm-2">
                Car Number
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ServiceBookings.Issues.Cars.CarNumber)
            </dd>
            <dt class="col-sm-2">
                Car Current Loaction
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ServiceBookings.CurrentLocationOfCar)
            </dd>
        <dt class = "col-sm-2">
            Payment Made
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceBookings.Services.Price)
        </dd>
        <dt class = "col-sm-2">
            Service Booked
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ServiceBookings.Services.Services)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentModes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentModes.PaymentModes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UPIID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UPIID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PStatus)
        </dd>
    </dl>
</div>
<div>@*
    <a asp-action="Edit" asp-route-id="@Model.PaymentId">Edit</a> |
    <a asp-action="Index">Back to List</a>*@
</div>
</div>
<br />
<br />
<br />
