@model IEnumerable<MajorProject.Models.Service>

@{
    ViewData["Title"] = "Index";
}
<div style="padding-top:6rem;padding-left:2rem;padding-right:2rem">

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Services)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Services)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ServiceID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ServiceID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ServiceID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>